@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@font-face {
  font-family: 'SimianDisplay';
  src: url('srcs/simiandisplay-chimpanzee.ttf') format('truetype');
}
/* 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}

/* header영역 */
.container {
  width: 1140px;
  margin: 0 auto;
}
header {
  position: fixed;
  color: black;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 1rem;
}
header.active {
  background-color: #dee7df;
  opacity: 0.8;
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .container h1 img {
  width: 128px;
}
header .container h1 button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 10px;
}
header nav ul li button {
  font-size: 1.3rem;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: black;
  font-family: 'SimianDisplay', sans-serif;
}
header nav ul li img {
  width: 32px;
  cursor: pointer;
}

main {
  width: 100%;
  /* height: 120vh; */
  color: black;
  background: #dee7df;
  display: flex;
  justify-content: center;
  text-align: center;
}
main h2 {
  font-size: 5rem;
  font-family: 'SimianDisplay', sans-serif;
  margin: 15rem 0 0 0;
}
main h4 {
  font-size: 2.5rem;
  font-family: 'nanumsquare', sans-serif;
  font-weight: 500;
  letter-spacing: -0.8px;
  margin: 2rem 0;
}
main p {
  font-size: 1.2rem;
  font-family: 'nanumsquare', sans-serif;
  font-weight: 500;
}
main div.main-img {
  width: 100%;
  align-items: center;
  padding: 0 20% 0 20%;
}
main img {
  width: 100%;
  margin: 4rem 0 0 0;
}
main p.gogh {
  font-size: 14px;
  color: #1b54ab;
  font-weight: 600;
  text-align: right;
  margin: 0.4rem 0 4rem 0;
}
main h4 span::after {
  content: '';
  height: 40px;
  width: 3px;
  background-color: transparent;
  display: inline-block;
}
main h4.active span::after {
  background-color: #555555;
}
section {
  background: #dee7df;
  padding: 5rem 0;
}
section.about {
  background: #ffff;
  padding: 0rem 0;
}
/* float 속성 해제 */
section .about-self::after {
  content: '';
  clear: both;
  display: block;
}

/*본문 너비 절반 지정 & 왼쪽 배치*/
section .about-self .left {
  width: 50%;
  float: left;
  background-color: #fff;
}
/*본문 왼쪽 h2 태그의 글자 크기와 여백 지정 */
section .about-self .left h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'SimianDisplay', sans-serif;
  margin: 5rem 0 0 0;
}
/*본문 왼쪽 이미지 크기와 위치 지정 */
section .about-self .left img {
  max-width: 50%;
  margin: 8rem 0 11.35rem 9rem;
}
/*본문 너비 절반 지정 & 오른쪽 배치*/
section .about-self .right {
  width: 50%;
  float: left;
  background-color: #fff;
  padding: 0 2.5rem 0 0;
}
/*본문 왼쪽 h3 태그의 글자 크기와 여백 지정 */
section .about-self .right h3 {
  font-size: 1.2rem;
  font-family: 'nanumsquare', sans-serif;
  font-weight: 800;
  margin: 5rem 0 0 0;
}
section .about-self .right p {
  font-size: 0.9rem;
  line-height: 2;
  font-family: 'nanumsquare', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  white-space: pre-line;
  margin: 0 0 4rem 0;
}
/*Float 속성 해제*/
section .do-me::after {
  content: '';
  display: block;
  clear: both;
}
section .title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: 'SimianDisplay', sans-serif;
  margin-bottom: 4rem;
  background: #dee7df;
}

/* 사각형 크기와 간격, 내부 여백 설정 */
section .do-me .do-inner {
  background-color: #fff;
  width: 30%;
  padding: 2rem;
  float: left;
  margin-right: 5%;
  cursor: pointer;
}
/* 마지막 사각형의 외부 여백 설정 */
section .do-me .do-inner:last-child {
  margin-right: 0;
}
/*사각형 이미지 설정*/
section .do-me .do-inner .do-img img {
  width: 100%;
  margin: 2rem 0;
}
/*사각형 텍스트 크기*/
section .do-me .do-inner .content p {
  font-size: 1.2rem;
  letter-spacing: -0.7px;
  font-family: 'nanumsquare', sans-serif;
  text-align: center;
  margin-bottom: 1rem;
}
/* do-inner 클래스에 마우스를 올리면 배경색과 텍스트 색상 변경 */
section .do-me .do-inner:nth-child(1):hover {
  background-color: #1b54ab;
  color: white;
}
section .do-me .do-inner:nth-child(2):hover {
  background-color: #60297c;
  color: white;
}
section .do-me .do-inner:nth-child(3):hover {
  background-color: #f36f21;
  color: white;
}
/* clear 속성으로 float 속성값 해제 */
section.works::after {
  content: '';
  display: block;
  clear: both;
}
/* works-inner 사각형 꾸미기*/
section.works .works-inner-01 {
  width: 100%;
  padding: 5rem 0 0 0;
  background-color: #f36f21;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
section.works p {
  font-size: 1.2rem;
  letter-spacing: -0.7px;
  font-family: 'nanumsquare', sans-serif;
  text-align: center;
}
/*이미지의 크기 위치 조정*/
section.works .works-inner-01 img.mr-logo {
  width: 20%;
  display: block;
  margin: 0 auto;
  padding: 1rem 0 2rem 0;
}
section.works .works-inner-01 img {
  width: 30%;
  display: block;
  margin: 0 auto;
}
section.works .works-inner-02 {
  float: left;
  width: 50%;
  /* height: 60vh; */
  background-color: #ffcc3b;
  cursor: pointer;
}
section.works .works-inner-02 img {
  width: 40%;
  display: block;
  margin: 0 auto;
  padding: 5.6rem 0 8rem 0;
}
section.works .works-inner-03 {
  float: left;
  width: 50%;
  background-color: #a07cbc;
  cursor: pointer;
  padding: 3rem 0 0 0;
}
section.works .works-inner-03 img.artj-logo {
  width: 30%;
  display: block;
  margin: 0 auto;
  padding: 0 0 0.8rem 0;
}
section.works .works-inner-03 p {
  font-size: 1.2rem;
  letter-spacing: -0.7px;
  font-family: 'nanumsquare', sans-serif;
  text-align: center;
  margin-bottom: 1rem;
}
section.works .works-inner-03 img {
  width: 25%;
  display: block;
  margin: 0 auto;
}
.bg {
  background: url(images/bg.png) center center;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}
.bg p {
  font-family: 'nanumsquare', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 20rem;
}
/* clear 속성으로 float 속성값 해제 */
section.funthings::after {
  content: '';
  display: block;
  clear: both;
}
section.funthings .fun-inner-01 {
  float: left;
  width: 48%;
  background-color: #1b54ab;
  color: #fff;
  cursor: pointer;
  margin-right: 4%;
  padding: 2rem;
}
section.funthings .fun-inner-02 {
  float: left;
  width: 48%;
  background-color: #fff;
  color: #1b54ab;
  cursor: pointer;
  padding: 2rem;
}
section.funthings .fun-inner-01 h3.fun-title {
  font-size: 2rem;
  font-family: 'nanumsquare', sans-serif;
  font-weight: 200;
}
section.funthings .fun-inner-01 h3 {
  font-size: 2rem;
  font-family: 'nanumsquare', sans-serif;
  font-weight: 800;
}
section.funthings .fun-inner-01 p {
  font-size: 1rem;
  font-family: 'nanumsquare', sans-serif;
  font-weight: 200;
  margin-top: 2rem;
}
section.funthings .fun-inner-02 h3.fun-title {
  font-size: 2rem;
  font-family: 'nanumsquare', sans-serif;
  font-weight: 200;
}
section.funthings .fun-inner-02 h3 {
  font-size: 2rem;
  font-family: 'nanumsquare', sans-serif;
  font-weight: 800;
}
section.funthings .fun-inner-02 p {
  font-size: 1rem;
  font-family: 'nanumsquare', sans-serif;
  font-weight: 200;
  margin-top: 2rem;
}
/* clear 속성으로 float 속성값 해제 */
footer::after {
  content: '';
  display: block;
  clear: both;
}
footer {
  background-color: #dee7df;
  padding: 3rem 0;
}
footer div.foo1 {
  float: left;
}
footer div.foo1 img {
  width: 50%;
  padding: 3rem 0 0 2rem;
}
footer div.foo2 {
  float: right;
  text-align: right;
  padding: 2rem 2rem 0 2rem;
  color: #555;
}
footer div.foo2 p:nth-child(1) {
  font-size: 18px;
  font-family: 'SimianDisplay', sans-serif;
}
footer div.foo2 p {
  font-size: 14px;
  font-family: 'nanumsquare', sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}
/*서브페이지*/
div.work {
  width: 1140px;
  margin: 0 auto;
}
div.work img {
  width: 100%;
  display: block;
}

/* 화면 너비가 1140px 이하일 때 */
@media screen and (max-width: 1140px) {
  /* 메인 영역 container 기준 너비 변경 */
  main .container {
    width: 1020px; /*1140px -> 1020px*/
  }
  div.work {
    width: 1020px;
  }
  main p.gogh {
    margin: 0.4rem 0 3rem 0;
  }
  /* 섹션 영역 contain 기준 너비 변경 - 2단으로 처리하기 위한 적정 너비 */
  section .container {
    width: 600px; /*1140px -> 600px*/
  }
  section.about {
    background: #dee7df;
    padding: 0rem 0;
  }
  /*About 영역 왼쪽 너비 50% -> 100% 변경*/
  section .about-self .left {
    width: 100%;
  }
  section .about-self .left img {
    width: 45%;
    margin: 2rem 0 0 9rem;
    padding-left: 4.5rem;
  }

  /*About 영역 오른쪽 너비 50% -> 100% 변경*/
  section .about-self .right {
    width: 100%;
    padding: 0 2rem;
  }
  section .do-me .do-inner {
    width: 45%; /*30% -> 45%*/
    /* height: 25vh; */
    margin-bottom: 1.5rem; /*본문 사각형 사이 간격 지정*/
    margin-right: 0; /*외부 여백 초기화*/
  }
  section .do-me .do-inner:nth-child(2n + 1) {
    margin-right: 5%; /*1,3,5..번째 본문 사각형에 적용*/
  }
  /*What I do 영역 이미지마진 조정*/
  section .do-me .do-inner .do-img img {
    margin: 1rem 0;
  }
  /*Works 영역 왼쪽 너비 50% -> 100% 변경*/
  section.works .works-inner-02 {
    width: 100%;
    /* height: 50vh; */
    padding: 0 2rem;
  }
  section.works .works-inner-03 {
    width: 100%;
    /* height: 50vh; */
    padding: 0 2rem;
  }
  section.works .works-inner-03 img.artj-logo {
    width: 20%;
    display: block;
    margin: 0 auto;
    padding: 1.5rem 0 0.8rem 0;
  }
  /*funthings 영역 너비 50% -> 100% 변경*/
  section.funthings .fun-inner-01 {
    width: 100%;
    margin-bottom: 2rem;
  }
  section.funthings .fun-inner-02 {
    width: 100%;
    margin-bottom: 2rem;
  }
}
/* 화면 너비가 992px 이하일 때 */
@media screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }
  /* 메인 영역 container 기준 너비 변경 */
  main .container {
    width: 992px; /*1140px -> 992px*/
  }
  div.work {
    width: 992px;
  }
  /* 섹션 영역 contain 기준 너비 변경 - 2단으로 처리하기 위한 적정 너비 */
  section .container {
    width: 600px; /*1140px -> 600px*/
  }
  /*About 영역 왼쪽 너비 50% -> 100% 변경*/
  section .about-self .left {
    width: 100%;
  }
  section .about-self img {
    width: 45%;
    margin: 1rem 0 0 0;
    padding-left: 4.5rem;
  }
  /*About 영역 오른쪽 너비 50% -> 100% 변경*/
  section .about-self .right {
    width: 100%;
    padding: 0 3rem;
  }
  section .do-me .do-inner {
    width: 45%; /*30% -> 45%*/
    margin-bottom: 1.5rem; /*본문 사각형 사이 간격 지정*/
    margin-right: 0; /*외부 여백 초기화*/
  }
  section .do-me .do-inner:nth-child(2n + 1) {
    margin-right: 5%; /*1,3,5..번째 본문 사각형에 적용*/
  }

  section.works .works-inner-01 {
    padding: 3rem 0 0 0; /*위아래 간격 초기화*/
  }
  /*이미지의 크기 위치 조정*/
  section.works .works-inner-01 img.mr-logo {
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 1.5rem 0;
  }
  section.works .works-inner-01 img {
    width: 40%;
    display: block;
    margin: 0 auto;
  }
  /*Works 영역 왼쪽 너비 50% -> 100% 변경*/
  section.works .works-inner-02 {
    width: 100%;
    padding: 0 2rem;
  }
  /*오르덴 로고위치 조정*/
  section.works .works-inner-02 img {
    padding: 6rem 0;
  }
  section.works .works-inner-03 {
    width: 100%;
    padding: 0 2rem;
  }

  section.works .works-inner-03 img.artj-logo {
    width: 20%;
    display: block;
    margin: 0 auto;
    padding: 1.9rem 0 0.8rem 0;
  }
  /*funthings 영역 너비 50% -> 100% 변경*/
  section.funthings .fun-inner-01 {
    width: 100%;
    margin-bottom: 2rem;
  }
  section.funthings .fun-inner-02 {
    width: 100%;
    margin-bottom: 2rem;
  }
}
/* 화면 너비가 768px 이하일 때 */
@media screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }
  /* 메인 영역 container 기준 너비 변경 */
  main .container {
    width: 768px; /*1140px -> 768px*/
  }
  div.work {
    width: 768px;
  }
  section {
    padding: 1rem 0 3rem 0;
  }
  /* 섹션 영역 contain 기준 너비 변경 - 2단으로 처리하기 위한 적정 너비 */
  section .container {
    width: 400px; /*600px -> 400px*/
  }
  /*About 영역 왼쪽 너비 50% -> 100% 변경*/
  section .about-self .left {
    width: 100%;
  }
  /*About 영역 이미지 가운데 정렬*/
  section .about-self img {
    width: 100%;
    margin: 0;
    position: relative;
    left: -10%;
  }
  /*About 영역 오른쪽 너비 50% -> 100% 변경*/
  section .about-self .right {
    width: 100%;
    padding: 0 2rem;
  }
  /*about 글자크기 조정*/
  section .about-self .right h3 {
    font-size: 1.5rem;
    font-family: 'nanumsquare', sans-serif;
    font-weight: 800;
    margin: 5rem 0 0 0;
  }

  section .about-self .right p {
    font-size: 16px;
    line-height: 2;
    font-family: 'nanumsquare', sans-serif;
    font-weight: 400;
    letter-spacing: 0.2px;
    white-space: pre-line;
  }
  section .do-me .do-inner {
    width: 100%; /*45% -> 100%*/
    margin-right: 0; /*외부 여백 초기화*/
  }

  section.works .works-inner-01 {
    padding: 4rem 0 0 0; /*위아래 간격 초기화*/
  }
  /*이미지의 크기 위치 조정*/
  section.works .works-inner-01 img.mr-logo {
    width: 40%;
    display: block;
    margin: 0 auto;
    padding: 1rem 0;
  }
  section.works .works-inner-01 img {
    width: 40%;
    display: block;
    margin: 0 auto;
  }
  /*Works 영역 왼쪽 너비 50% -> 100% 변경*/
  section.works .works-inner-02 {
    width: 100%;
    padding: 0 2rem;
  }
  section.works .works-inner-03 {
    width: 100%;
    padding: 0 2rem;
  }

  section.works .works-inner-03 img.artj-logo {
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 3rem 0 1rem 0;
  }
  /*funthings 영역 너비 50% -> 100% 변경*/
  section.funthings .fun-inner-01 {
    width: 100%;
    margin-bottom: 2rem;
  }
  section.funthings .fun-inner-02 {
    width: 100%;
    margin-bottom: 2rem;
  }
}
/* 화면 너비가 576px 이하일 때 */
@media screen and (max-width: 576px) {
  html {
    font-size: 12px;
  }
  /* 메인 영역 container 기준 너비 변경 */
  main .container {
    width: 540px; /*768px -> 540px*/
  }
  section .container {
    width: 380px; /*400px -> 360px*/
  }
  div.work {
    width: 380px;
  }
  /*Works 영역 변경*/
  section.works .works-inner-02 {
    width: 100%;
    padding: 0 2rem;
  }
  section.works .works-inner-03 {
    width: 100%;
    padding: 0 2rem;
  }

  section.works .works-inner-03 img.artj-logo {
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 4.4rem 0 0.8rem 0;
  }
  .bg {
    background: url(images/bg2.png) center center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
  }
  .bg p {
    font-size: 1.5rem;
  }
  section.funthings .fun-inner-01 p {
    font-size: 1.5rem;
    font-family: 'nanumsquare', sans-serif;
    font-weight: 200;
    margin-top: 2rem;
  }
  section.funthings .fun-inner-02 p {
    font-size: 1.5rem;
    font-family: 'nanumsquare', sans-serif;
    font-weight: 200;
    margin-top: 2rem;
  }

  /*footer영역 조정*/
  footer div.foo1 {
    width: 100%;
    text-align: center;
  }
  footer div.foo1 img {
    width: 25%;
    padding: 6rem 0 1rem 0;
  }
  footer div.foo2 {
    width: 100%;
    float: left;
    text-align: center;
    color: #555;
  }
  footer div.foo2 p:nth-child(1) {
    font-size: 3rem;
    font-family: 'SimianDisplay', sans-serif;
    padding: 1rem 0;
  }
  footer div.foo2 p {
    font-size: 1.3rem;
    line-height: 180%;
  }
}
/* 화면 너비가 400px 이하일 때 */
@media screen and (max-width: 400px) {
  html {
    font-size: 11px;
  }
  main .container {
    width: 320px; /*540px -> 320px*/
  }
  div.work {
    width: 320px;
  }
  section .container {
    width: 320px; /*360px -> 320px*/
  }
  /*About 영역 이미지 가운데 정렬*/
  section .about-self img {
    width: 100%;
    padding: 1rem 0;
  }
  /*About 영역 오른쪽영역 높이 변경*/
  section .about-self .right {
    width: 100%;
    padding: 0 2rem;
  }
  /*what I do 영역*/
  section .do-me .do-inner .content p {
    font-size: 2rem;
  }
  /*works에 글자크기 조정*/
  section.works p {
    font-size: 1.5rem;
  }
  section.works .works-inner-01 img.mr-logo {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 1rem 0;
  }
  section.works .works-inner-03 img.artj-logo {
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 3.8rem 0 0.8rem 0;
  }
  section.works .works-inner-03 p {
    font-size: 1.5rem;
  }
  /*funthings 글자위치 조정*/
  section.funthings .fun-inner-01 {
    width: 100%;
    margin-bottom: 4rem;
  }
  section.funthings .fun-inner-02 {
    width: 100%;
    margin-bottom: 2rem;
  }
  section.funthings .fun-inner-01 p {
    font-size: 16px;
  }
  section.funthings .fun-inner-02 p {
    font-size: 16px;
  }
}
